[submodule "components/arco"]
	path = components/arco
	url = ../arco
[submodule "components/daw"]
	path = components/daw
	url = ../DAWn_EE
[submodule "components/silence"]
	path = components/silence
	url = ../catch
[submodule "components/chiaroscuro"]
	path = components/chiaroscuro
	url = git@github.com:tree3stan-chord/chiaroscuro.git
